In [1]:
# Python Collections
# List
# Tuple
# Dictionary
# Set

In [2]:
# # List
# -Indexed
# -Ordered
# -Duplicate Members
# -Mutable

In [4]:
a  = ["Apple","Ball"]
b = [1,2,3,4,5]
print(a)
print(b)

print(type(a))
print(type(b))

['Apple', 'Ball']
[1, 2, 3, 4, 5]
<class 'list'>
<class 'list'>

In [5]:
print(len(a))
print(len(b))

2
5

In [8]:
a = ["Apple","Ball","Cat","Dog","Fish"]
print(a[1])

Ball

In [9]:
a = ["Apple","Ball","Cat","Dog","Fish"]
print(a[0:3])

['Apple', 'Ball', 'Cat']

In [10]:
a = ["Apple","Ball","Cat","Dog","Fish"]
print(a[0:6:2])

['Apple', 'Cat', 'Fish']

In [12]:
a = ["Apple","Ball","Cat","Dog","Fish"]
b = ["Dog","Cat"]
c = b+a
print(c)

['Dog', 'Cat', 'Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [13]:
a = ["Apple","Ball","Cat","Dog","Fish"]
for i in a:
    print(i)

Apple
Ball
Cat
Dog
Fish

In [14]:
a = ["Apple","Ball","Cat","Dog","Fish"]
for i in a:
    if i == "Cat":
        break
    print(i)

Apple
Ball

In [15]:
a = ["Apple","Ball","Cat","Dog","Fish"]
for i in a:
    if i == "Cat":
        continue
    print(i)

Apple
Ball
Dog
Fish

In [20]:
names = list()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
#     names = names+[name]
    names.append(name)
print(names)

Enter n = 2
Enter name = Ram
Enter name = Shyam
['Ram', 'Shyam']

In [21]:
names = list()
n = int(input("Enter n = "))
for i in range(n):
    name = int(input("Enter name = "))
#     names = names+[name]
    names.append(name)
print(names)

Enter n = 5
Enter name = 234
Enter name = 466
Enter name = 345
Enter name = 5675
Enter name = 345
[234, 466, 345, 5675, 345]

In [25]:
print("Sum of no is = ",sum(names))
print("The max value = ",max(names))
print("The max value = ",min(names))
names.sort()
print(names)
names.reverse()
print(names)

Sum of no is =  7065
The max value =  5675
The max value =  234
[234, 345, 345, 466, 5675]
[5675, 466, 345, 345, 234]

In [26]:
a = ["Hari","Sita","Akash","Nabin","nita"]
a.sort()
print(a)

['Akash', 'Hari', 'Nabin', 'Sita', 'nita']

In [27]:
# insert()
a = ["Hari","Sita","Akash","Nabin","nita"]
a.insert(1,"Binam")
a

['Hari', 'Binam', 'Sita', 'Akash', 'Nabin', 'nita']

In [28]:
# extend()
a = ["Hari","Sita","Akash","Nabin","nita"]
b = [1,2,3,4]
a.extend(b)
print(a)

['Hari', 'Sita', 'Akash', 'Nabin', 'nita', 1, 2, 3, 4]

In [32]:
a = ["Hari","Sita","Akash","Nabin","nita"]
b = [1,2,3,4]
x = [a[0]]
c = x+b+a[1:]
c

['Hari', 1, 2, 3, 4, 'Sita', 'Akash', 'Nabin', 'nita']

In [34]:
a = ["Hari","Sita","Akash","Nabin","nita"]
a[0] = "Harry"
a

['Harry', 'Sita', 'Akash', 'Nabin', 'nita']

In [35]:
a = ["Hari","Sita","Akash","Nabin","nita"]
a[0:2] = ["Harry","Sam"]
a

['Harry', 'Sam', 'Akash', 'Nabin', 'nita']

In [36]:
#del remove() pop()
a = ["Hari","Sita","Akash","Nabin","nita"]
del a[0]
print(a)

['Sita', 'Akash', 'Nabin', 'nita']

In [38]:
a = ["Hari","Sita","Akash","Nabin","nita"]
del a[0:3]
print(a)

['Nabin', 'nita']

In [39]:
a = ["Hari","Sita","Akash","Nabin","nita"]
a.remove("Hari")
print(a)

['Sita', 'Akash', 'Nabin', 'nita']

In [42]:
a = ["Hari","Sita","Akash","Nabin","nita","Hari"]
for i in a:
    if i == "Hari":
        a.remove("Hari")
    
print(a)

['Sita', 'Akash', 'Nabin', 'nita']

In [44]:
a = ["Hari","Sita","Akash","Nabin","nita","Hari"]
for i in range(len(a)):
    if a[i] == "Hari":
        print(i)

0
5

In [46]:
# pop()
a = ["Hari","Sita","Akash","Nabin","nita","Hari"]
b = a.pop(3)
print(a)
print(b)

['Hari', 'Sita', 'Akash', 'nita', 'Hari']
Nabin

In [1]:
# list inside list
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]
print(type(a))

<class 'list'>

In [4]:
a = [["Ram",34,"Kathmandu"],
     ["Shyam",34,"Bhaktapur"],
     ["Siva",23,"Patan"]]
print(a[0])
print(a[0:2])

['Ram', 34, 'Kathmandu']
[['Ram', 34, 'Kathmandu'], ['Shyam', 34, 'Bhaktapur']]

In [6]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 34, 'Bhaktapur']]
b = [["Nabin",56,"Bara"]]
c = a+b
print(c)

[['Ram', 34, 'Kathmandu'], ['Shyam', 34, 'Bhaktapur'], ['Nabin', 56, 'Bara']]

In [7]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 34, 'Bhaktapur']]
b = ["Nabin",56,"Bara"]
a.append(b)
a

[['Ram', 34, 'Kathmandu'], ['Shyam', 34, 'Bhaktapur'], ['Nabin', 56, 'Bara']]

In [9]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info = [name,age,add]
    data.append(info)
print(data)

Enter n = 2
Enter name = Ram
Enter age = 67
Enter add = Kathmandu
Enter name = Shyam
Enter age = 34
Enter add = Bhaktapur
[['Ram', 67, 'Kathmandu'], ['Shyam', 34, 'Bhaktapur']]

In [11]:
a = [['Ram', 67, 'Kathmandu'], ['Shyam', 34, 'Bhaktapur']]
name = input("Enter name = ")
for i in a:
    if name in i:
        print(i)

Enter name = Ram
['Ram', 67, 'Kathmandu']

In [13]:
a = [['Ram', 67, 'Kathmandu'], ['Shyam', 34, 'Bhaktapur']]
name = input("Enter name = ")

for i in range(len(a)):
    if name in a[i]:
        print(i)

Enter name = Shyam
1

In [16]:
a = [['Ram', 67, 'Kathmandu'], 
     ['Shyam', 34, 'Bhaktapur']]
a[0][0] = "Ram Prasad"
a

[['Ram Prasad', 67, 'Kathmandu'], ['Shyam', 34, 'Bhaktapur']]

In [17]:
a = [['Ram', 67, 'Kathmandu'], 
     ['Shyam', 34, 'Bhaktapur']]
a[0] = ['Rama', 74, 'Kathmandu']
a

[['Rama', 74, 'Kathmandu'], ['Shyam', 34, 'Bhaktapur']]

In [20]:
a = [['Ram', 67, 'Kathmandu'], 
     ['Shyam', 34, 'Bhaktapur']]
del a[0][0]
print(a)

[[67, 'Kathmandu'], ['Shyam', 34, 'Bhaktapur']]

In [21]:
a = [['Ram', 67, 'Kathmandu'], 
     ['Shyam', 34, 'Bhaktapur']]
a.remove(a[1])
print(a)

[['Ram', 67, 'Kathmandu']]

In [24]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter product name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    info = f"{name} {price} {quantity} {total}\n"
    s = s + info
print("Product Price Quantity Total\n")    
print(s,"\n")

Enter n = 2
Enter product name = Momo
Enter price = 100
Enter quantity = 3
Enter product name = Coke
Enter price = 150
Enter quantity = 4
Product Price Quantity Total

Momo 100 3 300
Coke 150 4 600

In [31]:
bill = []
data = s.split('\n')[:-1]
for i in data:
    bill.append(i.split())
    
bill

[['Momo', '100', '3', '300'], ['Coke', '150', '4', '600']]

In [ ]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter product name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    info = f"{name} {price} {quantity} {total}\n"
    s = s + info
print("Product Price Quantity Total\n")    
print(s,"\n")

In [ ]:
# WAP to develop result management system