In [1]:
# imutable datatype
a = "Hello World"
print(type(a))

<class 'str'>

In [2]:
a = "Hello "
b = "World"
c = a+b
print(c)

Hello World

In [4]:
a = "Hello World"
print(a[-1])

d

In [8]:
a = "Hello World"
print(a[0:6])

Hello

In [9]:
a = "Hello World"
print(a[0:6:2])

Hlo

In [13]:
a = "Hello World"
l = len(a)
print(l)
print(a[l::-1])

11
dlroW olleH

In [14]:
a = "Hello World"
print(a[0:100])

Hello World

In [19]:
a = "Hello World"
l = len(a)
print(a[l-1])

d

In [21]:
for i in a:
    print(i,end = "")

Hello World

In [29]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    info = name+" " +str(phone)
    s = s + info +"\n"
    
print(s)

Enter n = 2
Enter name = Ram
Enter phone = 9867665654
Enter name = Shyam
Enter phone = 985655435
Ram 9867665654
Shyam 985655435

In [32]:
# String formatting
name = "Ram"
age = 34
address = "Kathmandu"

x = "Hello I am "+name + " I am from "+address+" I am "+str(age)
print(x)
y = f"Hello I am {name}. I am from {address}. I am {age}" # String formatting
print(y)

Hello I am Ram I am from Kathmandu I am 34
Hello I am Ram. I am from Kathmandu. I am 34

In [34]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    info = f"{name} {phone}\n"
    s = s + info
    
print(s)

Enter n = 2
Enter name = Ram
Enter phone = 985777654
Enter name = Shyam
Enter phone = 9856554543
Ram 985777654
Shyam 9856554543

In [37]:
s = ""
all_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter product name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    info = f"{name} {price} {quantity} {total}\n"
    s = s + info
    all_total = all_total + total
print("Product Price Quantity Total\n")    
print(s,"\n")
print("All Total = ",all_total)

Enter n = 2
Enter product name = Momo
Enter price = 200
Enter quantity = 3
Enter product name = Coke
Enter price = 100
Enter quantity = 5
Product Price Quantity Total

Momo 200 3 600
Coke 100 5 500


All Total =  1100

In [38]:
# WAP to develop result management system

In [43]:
#replace()
a = "Ram Shyam Hari Sita Gita Ram"
print(a.replace("Ram","Rama"))
print(a)

Rama Shyam Hari Sita Gita Rama
Ram Shyam Hari Sita Gita Ram

In [44]:
#replace()
a = "Ram Shyam Hari Sita Gita Ram"
a = a.replace("Ram","Rama")
print(a)

Rama Shyam Hari Sita Gita Rama

In [41]:
#replace()
a = "Ram Shyam Hari Sita Gita Ram"
a.replace("Ram","")

' Shyam Hari Sita Gita '

In [57]:
#search
a = "Ram Shyam Hari Sita Gita Ram".lower()
name = input("Enter name = ").lower()
if name in a:
    print("Yes",a.count(name))

Enter name = ram
Yes 2

In [56]:
a = "Ram Shyam Hari Sita Gita Ram"
name = "Ram"
print(name.lower())
print(a.upper())
print(a.lower())

ram
RAM SHYAM HARI SITA GITA RAM
ram shyam hari sita gita ram

In [47]:
a = "Ram Shyam Hari Sita Gita Ram"
a.count("Ram")

2

In [63]:
name = "Ram Shyam Hari Sita Gita Ram"
x = name[1].upper()
y = name[0]
z = name[2:]
final = y+x+z
final

'RAm Shyam Hari Sita Gita Ram'

In [61]:
name = "ram Shyam Hari Sita Gita Ram"
x = name.title()
x

'Ram Shyam Hari Sita Gita Ram'

In [65]:
name = "Ram Shyam Hari Sita Gita Ram"
for i in name:
    name = name.replace("a","A")
name

'RAm ShyAm HAri SitA GitA RAm'

In [66]:
name = "Ram Shyam Hari Sita Gita Ram"
name = name.replace("a","A")
name

'RAm ShyAm HAri SitA GitA RAm'